

<div id="treelist" style="border: 1px solid black;" [formGroup]="healthIssueForm">
    {{healthissueobj | json}}
    <table class="table table-bordered table-striped mt-3" style="background-color:white">
        <thead>
        <tr>
          <th>ID</th>
          <th>Health Issue</th>
          <th>Code</th>
          <th>HCC</th>
          <th>Entered Date</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hiobj of healthissueobj; let id = index" [class.active]="id == highlightRow">
            <td><span>{{hiobj.id}}</span></td>
            <td><span>{{hiobj.healthissue}}</span></td>
            <td><span>{{hiobj.code}}</span></td>
            <td><span>{{hiobj.hcc}}</span></td>
            <td><span>{{hiobj.enteredDate}}</span></td>
            <td><span>{{hiobj.status}}</span></td>
          <td width="22%">
            <button class="btn btn-sm btn-info" (click)="ClickedRow(id,true)">
              <i class="fa fa-search"></i>Details</button>&nbsp;
            <button  class="btn btn-sm btn-warning" (click)="ClickedRow(id,false)">
              <i class="fa fa-edit"></i>Edit</button>&nbsp;
            <button class="btn btn-sm btn-danger" >
              <i class="fa fa-remove"></i>Delete</button>
          </td>
        </tr>
        </tbody>
      </table>

</div>
<br>
<button type="button" class="btn btn-success"  data-toggle="modal" data-target="#myModal" (click)="onAdd()"> Add HealthIssue </button>
<div id="add" *ngIf="display1">
  <app-healthissue-add></app-healthissue-add>
</div>
<!-- Modal -->
<!-- <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Health Issue</h4>
      </div>
      <div class="modal-body">
        <form #HIForm="ngForm" novalidate>
          <div class="form-group form-width">
              <label>ID</label>
              <input type="text" required  #name="ngModel" class="form-control" name="ID" [(ngModel)]="HIobj.id">
          </div>
          <div class="form-group form-width">
            <label>Health Issue</label>
            <input type="text" required  #name="ngModel" class="form-control" name="healthissue" [(ngModel)]="HIobj.healthissue">
        </div>
        <div class="form-group form-width">
          <label>Code</label>
          <input type="text" required  #name="ngModel" class="form-control" name="code" [(ngModel)]="HIobj.code">
      </div>
      <div class="form-group form-width">
        <label>HCC</label>
        <input type="text" required  #name="ngModel" class="form-control" name="hcc" [(ngModel)]="HIobj.hcc">
       </div>
       <div class="form-group form-width">
        <label>EnteredDate</label>
        <input type="text" required  #name="ngModel" class="form-control" name="enteredDate" [(ngModel)]="HIobj.enteredDate">
       </div>
       <div class="form-group form-width">
        <label>Status</label>
        <input type="text" required  #name="ngModel" class="form-control" name="status" [(ngModel)]="HIobj.status">
       </div>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveHI(HIForm)">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> -->
