<p>add-patient works!</p>
<div class="container-fluid mb-5">
    <h1>Register Patient</h1>
    <form #userForm="ngForm" (ngSubmit)="Onsubmit(userForm.value)" novalidate>
        <!-- {{userForm.value | json}}
        <hr> -->
        {{patientModel | json}} 
            {{userForm.valid}}
        <div class="form-group form-width">
            <label>Name</label>
            <input type="text" required  #name="ngModel" ngModel [class.is-invalid]="name.invalid && name.touched" class="form-control" name="userName" [(ngModel)]="patientModel.name">{{patientModel.name}}
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
        </div>
        <div class="form-group form-width">
            <label>Email</label>
            <input type="email" class="form-control" ngModel name="userEmail" [(ngModel)]="patientModel.email">
        </div>
        <div class="form-group form-width">
            <label>Phone</label>
            <input type="tel" required #phone="ngModel" ngModel pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="userPhone" [(ngModel)]="patientModel.phone">
            <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required & Phone number must be 10 digits</small>      
        </div>
        <div class="form-group mt-3 form-width">
           <select class="custom-select mb-3" required ngModel #gender="ngModel" [class.is-invalid]="gender.invalid && gender.touched" name="userGender" [(ngModel)]="patientModel.gender">
            <option value="default">Select Gender</option>
            <option *ngFor="let gender of genders">{{ gender }}</option>
           </select>
           <small class="text-danger" [class.d-none]="gender.valid || gender.untouched">Please choose a gender</small>  
        </div>
        <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Submit</button>
        <button (click)="OnSaveFile(userForm.value)"> Save File </button>
    </form>
</div>